*,
html {
    margin: 0;  
    padding: 0;  
}
body{
    display: flex;
    flex-wrap: wrap;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #101913;
    padding-bottom: 0%;
}

header {
    border-bottom: 2px solid #101913;
    background-color: #E9EDDE;
    font-family: 'Abel', sans-serif;
    padding: 1px;
    width:100%;
    position:sticky;
}
main{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
  }
main h2{
margin: auto}
p{
  font-family: 'Abel', sans-serif;
}

h1, H2, H3, h4{ 
  letter-spacing: 1px;
    text-decoration: underline;
    font-family: 'Bebas Neue', sans-serif;
}
h1{
    padding: 15px;
    color:rgb(2, 3, 2);
}
  h3, h4{
    padding: 10px;
    color:#101913;
}
.main-content{
  border-left: solid 2px #101913;
  margin-top: 0;
  padding: 0px 20px 50px 50px;
  gap: 50px;
  
}
.main-content a{
  color:#E9EDDE ;
  font-weight: 700 ;
  text-align: center;
  background-color: #eca400;
  text-decoration: none;
  border-radius: 20% 20% 20% 20% / 48% 48% 52% 52% ;
  padding: 10px;
  margin: 5px;
}

.main-content a:hover{
  border: 1px solid #ECA400;
  background-color: #E9EDDE;
  color:#ECA400;
} 

.content-header a{
  color:#E9EDDE ;
  font-weight: 700 ;
  text-align: center;
  background-color: #ECA400;
  text-decoration: none;
  border-radius: 20% 20% 20% 20% / 48% 48% 52% 52% ;
  padding: 10px;
  margin: 5px;
}
.content-header a:hover{
  border: 1px solid #ECA400;
  background-color: #E9EDDE;
  color:#ECA400;
}
.content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
  }
.content-header li{
  list-style-type: none;
}
.logo-header {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    width: 50%;
    border-right: solid 2px #101913;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    height: 75px;
    width: 100%;
    gap: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.sidebar-left{
    display: flex;
    flex-direction: column;
    width:60%;
    gap:30px;
}
.sidebar-left h2{
  width: 50%;
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
  padding:2%; 
  text-align: center;
  color:#ECA400; 
  margin-top: 5%;
}

.contact{
  margin-top: 15%;
  margin-bottom: 20%;
}
.presentation{
    display:grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr;
    width:300px;
    align-content: center;
    padding-top: 25%;
}
.presentation-portrait{ 
    width: 150px;
    padding-left: 5px;
    grid-column:2/3;
    grid-row: 1;
    align-self: center; 
}
.portrait-sidebar{
    width: 150px;
    height: 192px;
    grid-column: 1/2;
    grid-row:1;
}
.icone-coordonnee{
    width: 10px;
    height: 10px;
}
.coordonnee-bold{
    font-weight: 400;
    text-decoration: underline;
}
.sidebar-left ul{
  margin-bottom: 10%;
  margin-top:5%
}
.main-introduction{
  width: 100%;
  grid-column: 1/2;
  justify-items: center;
}
.main-illustration{
  grid-column: 2/3;
  grid-row: 1;
  width: 400px;
  margin: auto;
}
.main-illustration img{
  width: 400px;
  Height: 400px;
}
.paragraphe-motivation{
    width: 75%;
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    Padding: 50px 50px 50px 50px;
    text-align: left;
      
}
.carre-experience-h2{
  width: 60%;
  align-content: center;
  color: #ECA400;
  background: rgba(233, 237, 222, 0.5);
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
  margin-left: 18%;
  margin-right: 20%;
  Padding: 1% 1% 1% 1%;
  text-align: center;
  margin-top:3em ; 
}
.carre-experience-h2 h2{
  font-size: 2em;
}

.carre-paragraphe-motivation{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  background: rgba(16, 25,19, 0.1);
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
  margin-top:3em ;
}
.carre-paragraphe-experience{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  background: rgba(16, 25,19, 0.1);
  border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
  margin-top:3em ;}
.cv{
  display: grid;
  width: 750px;
  padding: 5%;
}
.experiences.professionnelles{
    grid-row:2/3;
    grid-column: 1/2;
    gap: 15px;
}
.experiences.professionnelles h2{
  padding: 25px;
}
.experiences.professionnelles h3{
  padding: 10px;
}
.experiences.professionnelles h4{
  padding: 10px;
}
.experience-wordpress{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1;
}

.experience-educateur{
  width: 100%;
  padding-left: 10%;
  grid-column: 2/3;
  grid-row: 1;
}

.formations{
  display: flex;
  flex-direction: row;
}
.carre-h2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.carre-paragraphe-formation{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 1em;
  margin-left: 1em;
} 
.carre-paragraphe-formation ul{
  padding: 5%;
}
.carre-paragraphe-h2-formations, .carre-paragraphe-h2-diplomes{
  width: 46%;
  color: #ECA400;
  background: rgba(233, 237, 222, 0.5);
   border-radius: 10% 10% 10% 10%;
  box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.carre-paragraphe-h2 h2{
  text-align: center;
  font-size: 2em;
}
.carre-paragraphe-diplomes{
  margin-right: 1em;
  margin-left: 1em;
  grid-column: 2/3;
  grid-row: 1/2;
}
.carre-paragraphe-diplomes ul{
  padding: 5%;
}

.carre-paragraphe-formation,
  .carre-paragraphe-diplomes{
    width: 50%;
    background: rgba(16, 25,19, 0.1);
    border-radius: 10% 10% 10% 10%;
    box-shadow: 1px 2px 15px 1px rgba(16, 25, 19, 0.5); 
    margin-top:3em ; 
    Padding: 25px 25px 25px 25px;
  }
footer{
  width:100%;
  background-color: #E9EDDE;
  font-family: 'Abel', sans-serif;
  border-top: #101913 solid 2px;
}
footer .logo-header{
  width:25%;
  border-right: none;
}
.footer-logo{
  align-self: center;
  width: 10%;
  height:80%;
}
.menu-footer {
  justify-content: center;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    width: 95%;
    margin: 2%;
}
.menu-footer nav{
  grid-row
}
.menu-footer a{
  color:#E9EDDE ;
  font-weight: 700 ;
  text-align: center;
  background-color: #ECA400;
  text-decoration: none;
  border-radius: 20% 20% 20% 20% / 48% 48% 52% 52% ;
  padding: 10px;
  margin: 5px;
}
.menu-footer a:hover{
  border: 1px solid #ECA400;
  background-color: #E9EDDE;
  color:#ECA400;
}
  .menu-footer li{
  list-style-type: none;
}
.menu-footer nav{
  height:5%;
  width: 800px;
}

@media screen and (min-width: 1000px){

.main-mobile, .presentation-mobile, .top-nav{
  display: none;
  }

}
@media screen and (max-width:1000px){
.sidebar-left, .content-header, .menu-header{
    display:none;
  }
.main-content{
  margin-right:5%;
}
footer {
    justify-items: center;
    height:18em;
  }
  header{
    margin:0;
  }
  
  main{
    flex-wrap: wrap;
    margin:0;
  }

.portrait-topNav  {
  cursor: pointer;
  position: relative;
  text-align: left;
  width: 25%;
}
.logo-header{
  margin-right: 15%;
}
.top-nav {
  width:90%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #eca400;
  height: 50px;
  padding: 1em;
  font-weight: 700px;
}
.portrait-topNav img{
  width:50%;
  margin-top:5%;
}

.portrait-topNav .fadedbox {
  background-color: #eca400;
  border-radius: 30% 70% 82% 18% / 30% 30% 70% 70% ;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  padding:10%;
}
.portrait-topNav:hover .fadedbox {
  opacity: 0.8;
}
.portrait-topNav .text {
 
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.portrait-topNav .title {
  font-size: 1em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.portrait-topNav:hover .title,
.portrait-topNav:focus .title{
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.main-content{  
  border-left:none;
}
.presentation-mobile{
  display:flex;
  flex-direction: row-reverse;
}
.carre-paragraphe-motivation{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding:5px;
}
.cv{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.formations{
  align-content: center;
  align-self: center;
}

.experiences.professionnelles, .experience-wordpress,.experience-educateur {
  width:100%;
  Padding: 25px 80px 25px 50px;
}
.carre-experience{
  justify-content:center
}
.carre-h2{
  width: 100%;
}
.menu-footer{
  display:flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
font-size: 0.75rem;
}
footer li{
  margin-top:7.5%;
  margin-bottom: 7.5%;
}
.footer-logo{
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight:700;

}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;

}
.menu-button-container {
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color:#eca400;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #E9EDDE;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    margin:12%;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #2193b0;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #eca400;
    background-color: #E9EDDE;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #2193b0;
  }
}
